# Gradle
.gradle
/build
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

# Explicitly ignore noisy IDEA files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf/
.idea/deploymentTargetSelector.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/caches
.idea/libraries

# Local config
local.properties
/local.properties
google-services.json

# Native / external builds
.cxx
.externalNativeBuild

# OS specific
.DS_Store

# Others
captures/